@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
// Colors
$color-header: #07020d;
$color-primary: #07020d;
$color-secondary: #9994a6;
$color-background: #251e40;
$color-background-secondary: #413570;
$color-background-third: #269094;
$color-text: #f2f2f2;
$color-text-secondary: #d9d0c7;
$color-tab: #251e40;
$color-tab-active: $color-background-secondary;
// Globals
$header-font: "Raleway";
$header-height: 30px;
$nav-height: 120px;
$navigation-height: 50px;
// Reset default styling
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    header {
        background: $color-header;
        height: $header-height;
        -webkit-app-region: drag;
        ul {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                height: 100%;
                line-height: $header-height;
                font-family: $header-font;
                font-size: 18px;
                font-weight: 100;
                padding: 2px 8px;
                color: $color-text;
                box-sizing: border-box;
                &.active {
                    background: $color-tab;
                }
                &:not(.active) {
                    background: $color-tab-active;
                }
                &:not(:first-child) {
                    margin-left: -4px;
                }
            }
        }
    }
    x-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        nav {
            flex: 0 0 $nav-height;
            width: 100%;
            background: $color-background;
            display: flex;
            flex-direction: column;
            .controls {
                flex-grow: 1;
            }
            .navigation {
                flex: 0 0 $navigation-height;
                background: $color-background-secondary;
            }
        }
        main {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            aside {
                width: 240px;
                flex: 0 0 240px;
                background: $color-background-third;
            }
            article {
                flex-grow: 1;
            }
        }
    }
}